@import "../common/styles/sass/variables.scss";

.info {
  .titleInfo {
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 5px;
    color: $primaryColor;
   
  }
  .textInfo {
    color: #faefff;
    margin-bottom: 30px;
  } 
}

