.timeLineHolder {
  margin: 0;
  padding: 0 0 0 55px;
}
.timeLineEvent {
  margin: 0 0 42px 60px;
  position: relative;
  padding-top: 5px;
  list-style: none;
  transition: 0.3s;
}

.timeLineEvent::before {
  content: '';
  width: 3px;
  height: calc(100% - 20px);
  position: absolute;
  background-color: #f37b83;
  left: -30px;
  top: 51px;
}
.circle {
  position: absolute;
  top: 0;
  left: -30px;
}
.timeLineEventContent {
  line-height: 160%;
  text-align: left;
  margin-left: 50px;
}
.timeLineEventDate {
  position: absolute;
  left: -130px;
  top: 2px;
  transition: 0.3s;
  color: #f37b83;
  font-weight: 700;
}

.circle::after {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  left: -8px;
  top: 11px;
  border-radius: 90%;
  background-color: #f37b83;
  opacity: 0;
  transition: opacity 0.3s;
}
.circle::before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 90%;
  border: 3px solid #f37b83;
  position: absolute;
  left: -16px;
  top: 3px;
  z-index: 1;
  transition: 0.3s;
}
