@import "../common/styles/sass/variables.scss";

.contactsBlock {    
    @media screen and (max-width: 1360px){    
        flex-wrap: wrap;   
}
    min-height: 100vh;
    display: flex;
    padding: 10% 5% 0;
    .contacts {
        @media screen and (max-width: 1360px){          
                width: 100%;
                margin: 0 0 50px;            
        }
        width: 60%;
        border: 1px solid;
        padding: 65px 65px 45px;
        background-color: $primaryColor;
        margin: 0 0 10% 5%;    
        
    }
   }






