.skillsBlock {
    min-height: 100vh;
    margin-left: 320px;
width: calc(100% - 320px);
}

.container {
    border: 1px solid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skills {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
@media screen and (max-width:960px) {
    .skills  {      
        justify-content: center;       
      } 
  }
  @media screen and (max-width: 1360px){
    .skillsBlock {
        margin-left: 90px;
        width: calc(100% - 90px);
    }}
    @media screen and (max-width: 1020px){
    .skillsBlock {
        margin-left: 0;
        width: 100%;
    }}