.contactTextarea {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  padding-bottom: 0;
  margin-bottom: 50px;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  height: 150px;
}

.contactTextarea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
}
